<nav class="navbar navbar-inverse" style="border-radius: 0!important; margin-bottom: 0!important">
  <div class="container-fluid">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-menu-hamburger" style="color: #ffff;"></span></a>
        <ul class="dropdown-menu">
          {% if session.logged_in %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/predict">Run a Simulation</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
    </div>
    <ul class="nav navbar-nav" style="float:right!important;">
      <li><a href="/" style="color: #ffff;">Home</a></li>
      <!-- <li><a href="/predict" style="color: #ffff;">Prediction</a></li> -->
       <li><a href="/film_search" style="color: #ffff;">Search Movies</a></li>
      <li><a href="/new_project" style="color: #ffff;">Future Movies</a></li>

      <li><a href="/project_data" style="color: #ffff;">Project Breakdown</a></li>
     

      <li><a class="navbar-brand" href="/" style="color: #ffff; margin-left: 10px;">J#</a></li>
    </ul>
  </div>
</nav>
