{% extends 'layout.html' %}
{% block body %}
<div class="container predict">
  <div class="container" style="text-align:center;">
    <h4> <span> Welcome {{session.username}} </span></h4>
    <a href="#" id="show-instructions">How to Use</a>
    <div class="container" >
      <p class="no-show" id="instructions">Enter a budget, select a genre, forecasted popularity, and expected vote count.</p>
    </div>
    <script>
    $(document).ready(function(){
      $('#show-instructions').click(function() {
        $('#instructions').toggleClass('seen');
      });
    });
    </script>
    <h1>Linear Regression</h1>
    <form method="POST" id="lin">
      <input type="text" id ="namequery" placeholder="budget">
      <select id="genrequery">
          <option value="Action">Action</option>
          <option value="Horror">Horror</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
      </select>
      <input type="text" id ="popquery" placeholder="popularity">
      <input type="text" id ="votequery" placeholder="vote count">
      <button type="submit" class="btn btn-primary" href="/add_article">Predict</button>
    </form>
  </div>

<div id="displayLin" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="fuckedLin" class="alert alert-fucked" role="alert" style="display:none;"></div>

  <div class="container" style="text-align:center;">
    <h1>Non-linear Regression</h1>
    <form method="POST" id="nonlin">
      <input type="text" id="budg" placeholder="budget">
      <select id="genre">
          <option value="Action">Action</option>
          <option value="Horror">Horror</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
      </select>
      <input type="text" id ="popul" placeholder="popularity">
      <input type="text" id ="voteq" placeholder="vote count">
      <button type="submit" class="btn btn-primary" href="/add_article">Predict</button>
    </form>
  </div>
</div>


<div id="displayNonL" class="alert alert-success" role="alert" style="display:none;"></div>
<div id="fuckedNonL" class="alert alert-fucked" role="alert" style="display:none;"></div>


    <!-- add any additional regression/prediction models we tried -->
    <!-- <div class="container">
      <h1>Non-linear Regression</h1>
      action="{{ url_for('predict_with_nonlinear')}}"
      <form method="POST" action="{{ url_for('predict_with_nonlinear')}}">
        <input type="text" name ="namequery" placeholder="budget">
        <input type="text" name ="genrequery" placeholder="genre">
        <input type="text" name ="popquery" placeholder="popularity">
        <input type="text" name ="votequery" placeholder="vote count">
        <button type="submit" class="btn btn-primary">Predict</button>
      </form>
    </div> -->

{% endblock %}
